@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer components {
  .infoText {
    @apply p-3 bg-secondary text-white text-[14px] rounded-md max-w-[250px]
  }

  .chatRow {
    @apply px-3 py-3 mb-3 text-sm flex items-center justify-center rounded-md space-x-2 
    hover:bg-primary/50 cursor-pointer text-white transition-all duration-200 ease-out
  }
}

.short_scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff00;

}

.short_scrollbar::-webkit-scrollbar-thumb {
  background: whitesmoke;
  max-height: 50px;
  border-radius: 10px;
}

.long_scrollbar::-webkit-scrollbar-track {
  width: 6px;
}

.long_scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #ffffff00;

}

.long_scrollbar::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

.long_scrollbar::-webkit-scrollbar-track {
  width: 6px;
}
